header{
  height: 20%;
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
  font-family: verdana, arial, helvetica, sans-serif;
}
body{
  font-family: verdana, arial, helvetica, sans-serif;
}
main{
  height: 70%;
  float: left;
  width: 60%;
}
section{
  color: grey;
}
h1{
  display: inline-block;
}

h2{
  display: block;
}

h3{
  color: grey;
}
a:link{
  color: red;
  text-decoration: none;
}
a:visited{
  color:red;
  text-decoration: none;
}
nav ul li{
  display: inline;
  background-color: black;
  color: white;
}
aside{
  width: 30%;
  float: right;
  margin-left: 10%;
}
footer{
  clear: both;
  height: 20%;
  width: 100%;
}
footer ul li{
  display: inline-block;
}

.menu{
  height: 30px;
  text-decoration: none;
  padding: 1px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
time{
  color: grey;
}
.featr{
  width: 100%;
}
.ad{
  width: 100%;
}
.posts{
  color: red;
}
.ndx{
  color: red;
  display: inline;
  position: relative;
  left: -35px;
}
.lnk{
  color: red;
  float: right;
}
.cnt {
  color: grey;
}
.cnt::first-letter{
  font-size: 200%;
}
#etc{
  display: inline;
}
.sqr{
  padding: 10px;
}
